#dropdown-button-drop {
    color: black;
    background-color: white;
    border-color: rgb(114, 114, 114);
    min-width: 200px;
    text-align: left;
    max-height: 30px;
   
}

#editmodalbutton {
    font-weight: 600;
    height: 2.2rem;
    border-radius: 30px;
    margin-left: 3rem;
    font-size: 0.9rem

}
